:root {
    --main-page-bg: #2b3452;
}

/* Shared styles */

body {
    background-color: var(--main-page-bg);
}

.job_img {
    width: 20rem;
    height: 15rem;
    border-radius: 2rem;
}

#side_links>a.active,
.main_links>a.active {
    background: #ff6666;
    color: white;
}

.home_page {
    color: white;
}

.home_page:hover {
    color: lightcoral;
}

.jobs {
    color: white;
}

#job_card,
.job_details {
    margin: 0px 20px;
    background: rgba(0, 0, 0, 0.2);
}

.main_job_box>a {
    color: lightcoral;
}

.main_job_box>a:hover {
    color: bisque;
}

.job_details {
    padding: 30px 30px;
}

.back_to_home {
    text-decoration: none;
    color: lightcoral;
}

.back_to_home:hover {
    text-decoration: none;
    color: bisque;
}