:root {
    --main-page-bg: #2b3452;
}

/* Shared styles */

body {
    background-color: var(--main-page-bg);
}

.job_img {
    width: 20rem;
    height: 15rem;
    border-radius: 2rem;
}

#side_links > a.active,
.main_links > a.active {
    background: #ff6666;
    color: white;
}